# Токен бота, полученный у @BotFather
BOT_TOKEN=8922859366:AAG24oatIK38-bnS1dUGg2PtDWaipVJi9UQ

# ID чата, где сидит Iris и куда добавлен ваш бот (обычно отрицательное число для групп)
CHAT_ID=-1004309056057

# Username бота Iris в этом чате, без @ (например iris_cm_bot).
# Оставьте пустым, если не уверены — тогда фильтрация идёт только по тексту ответа.
IRIS_USERNAME=iris_moon_bot

# Домен вашего сайта — для CORS. Можно временно оставить *
ALLOWED_ORIGIN=https://teamo-conference.netlify.app/

PORT=3000
